.mrt{
	margin-top:110px;
}
ul.galleryContainer {         
	padding:0 0 0 0;
	margin:0 0 0 0;
}
ul.galleryContainer li {     
	list-style:none;
	margin-bottom:25px;           
}
ul.galleryContainer li img {
	cursor: pointer;
	border:  3px solid #fff;
	opacity: 0.6;
	transition: opacity 0.5s;
	border-radius: 4px;
}
ul.galleryContainer li img:hover {
	opacity: 1;
}
.overlay{
	height: 100%;
	width: 100%;
	position: fixed; 
	z-index: 9999; 
	left: 0;
	top: 0;
	background-color: rgba(0,0,0, 0.6);
	display: none;
}
.overlay .closebtn {
	position: absolute;
	z-index: 3;
	top: -20px;
	right: -30px;
	font-size: 40px;
	color: #f1f1f1;
	text-decoration: none;
}
.prev,
.next {
	outline: none;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
	z-index: 3;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.bigImage{
	height: 100%;
	width: 100%;
	position: relative;
	border: 3px solid #fff;
}
.content {
	top: 20px;
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 65%;
	max-width: 1200px;
}
.imageTitle{
	text-align: center;
	padding: 2px;
	height: 25px;
	position: relative;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	font-size: 15px;
}